# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Build and package folders
build
dist
packages
typings
.tmp

# System folders
.DS_Store

# Node & Bower & JSPM
node_modules
bower_components
jspm_packages

# Test reporters
**/test/coverage
report
